@import 'normalize/normalize';
$color-identity: #69b5c3;
$color-light: #F2F2F2;
$color-dark: #333;

body {
  margin: 0;
  font-family:"Droid Sans", "sans-serif";
  line-height: 1.5;
  color:  $color-light;
  background-color: $color-dark;
  border-bottom: 2rem solid $color-identity;
}

a,
a:hover,
a:focus,
a:visited {
  color: $color-light;
}
section {padding: 1rem;}
section > div {
  max-width: 1200px;
  margin: 0 auto;
}
/*
.color-block{
  width:100%;
  min-height: 2rem;
  background-color: #69B5C3;
}
*/
a.social {
  font-size: 64px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.contact a,
.social {
  text-decoration: none;
}
.contact a:hover,
.contact a:focus,
a.social:hover,
a.social:focus {
  opacity: 0.6
}
.banner {
  padding: 0;
  background-image: url('/images/terminal.png');
  background-size: cover;
  background-position: center 3%;
  text-align: center;
  position: relative;
  box-shadow:  0 -1px 10px rgba(0, 0, 0, .7);

  img {
    margin: 0 auto;
    max-width:25vw;
    max-width: 20vw;
    position: relative;
    bottom: -13vw;
    bottom: -8vw;
    filter: drop-shadow(0 -1px 4px rgba(0, 0, 0, .7));
  }
}

.introduction {
  padding-top: 8vw;
  color: #333;
  background-color: #F2F2F2;
  h2 {
    text-align: center;
    font-size: 2em;
    margin: 0;
  }
  a {
    color: #333;
  }

  &>div {padding:2em 0;}
}


.contact {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;

  &> div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
  }

  i {
    padding-right: 0.33em;
  }

  a {
    transition: opacity 150ms ease;
    display: flex;
    align-items: center;
  }


}
.fa-envelope,
.fa-file-pdf-o {
  font-size: 2em;
}
.fa-mobile {
  font-size: 2.5em;
  padding-left: 0.33em;
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

.recent-highlights {
  & > div {
    padding: 2em 0;
    &:first-of-type {
      justify-content: center;
    }
  }
  div {
    display: flex;
  }
  h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0;
  }
  h3 { margin: 0; }
  img {
    width: 100%;
  }

  .writeup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  .writeup + .visual  {
    padding-left: 2.5em;
    padding-right: 0;
  }

  .visual {
    align-items: center;
    padding-left: 0;
    padding-right: 2.5em;
  }
}

//.recent-highlights div>div {display:block;}



.tip {
  text-align: center;
  letter-spacing: 1px;
  font-style: italic;
}
.find-me {
  flex-wrap: wrap;
  /* width:50%; */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  /* max-width: 800px; */
  max-width: 640px;
}
.find-me h2 {
  margin: 0.5em 0;
  font-size: 2em;
}

.find-me h2{
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  section {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media screen and (max-width: 768px) {
  .contact { flex-wrap: wrap; }
  .introduction > div {padding:0;}
  .recent-highlights > div {
    flex-wrap: wrap;
  }
  .recent-highlights {
    .visual,
    .writeup + .visual {
      padding:0;
    }
  }
  .recent-highlights .writeup,
  .recent-highlights .visual {
    width: 100%;
    flex-basis: 100%;
  }
  .recent-highlights .visual {
    order: 1;
    justify-content: center;

    img {max-width: 360px;}
  }
  .recent-highlights .visual img {

  }
  .find-me {
    width: 100%;
    box-sizing: border-box;

  }
}


@media screen and (max-width: 480px) {
  .find-me {
    justify-content: center;
  }
  a.social {
    width: 33%;
    text-align: center;
    font-size: 48px;
  }

}

@media screen and (max-width: 300px) {
  /* width:100%; */
  a.social { width: 50%;}
}


.silloutte{overflow: hidden;}
.old {float:right;}
.old img{
  width: 30vw;
  max-width: 250px;
}
